/* src/components/SimpleMail/SimpleMail.css */

.container {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #2d3748;
}

.input,
.textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.75rem;
    transition: border-color 0.3s;
}


.input:focus,
.textarea:focus {
    outline: none;
    border-color: #4299e1;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.3);
}

.button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.75rem;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
}

.buttonSimple {
    background-color: #38a169;
}

.buttonSimple:hover {
    background-color: #2f855a;
}

.responseMessage {
    margin-top: 1rem;
    text-align: center;
    color: #38a169;
    font-size: 1rem;
}

/* Estilo para el título más elegante */
.title {
    font-size: 1.25rem; /* Ajustamos el tamaño */
    font-weight: 600; /* Un peso medio para mayor elegancia */
    color: #2d3748; /* Un color gris oscuro */
    text-align: center;
    margin-bottom: 1.5rem; /* Separación para no verse tan apretado */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuentes más modernas */
}